<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Title</title>
        <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='javascript/script.js') }}"> </script>
    </head>
    <body>
        <div class="chat-area">
            <div id="response-container"><</div>
            <div class="mode-toggle">
                <label>
                    <input type="radio" name="mode" value="chat" id="chat-mode" checked>
                    Chat Mode
                </label>
                <label>
                    <input type="radio" name="mode" value="search" id="search-mode">
                    Search Mode
                </label>
            </div>
            <div class="user-input-area"> 
                <textarea class="text-input" placeholder="Type message.." id="text-input" name="msg" required></textarea>
                <button class="submit-message" id="submit-message-btn">Send</button>
                
            </div>
        </div>
        <div id="sidebar">
            <label for="dropdown-list" style="font-size:1em;margin-bottom:5px;display:block;">Select an item:</label>
            <select id="dropdown-list">
                <option>Loading...</option>
            </select>
            <h3>Files in Set</h3>
            <ul id="file-list">
                <li>(No files loaded)</li>
            </ul>
        </div>
    </body>
</html>
